<br>
<br>
<div  class="jumbotron">
  <h1><%= @blog.title %></h1>
  <p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<p>
  <strong>Author:</strong>
  <%= @blog.author %>
</p>

<p>
  <strong>Social:</strong>
  <%= @blog.social %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog), class:"btn btn-primary" %> 
<%= link_to 'Back', blogs_path, class:"btn btn-primary" %>
  






